Checks: '*,
         -cppcoreguidelines-pro-type-vararg,
         -hicpp-vararg,
         -google-build-using-namespace'
WarningsAsErrors: ''
HeaderFilterRegex: 'optcarrot*'
AnalyzeTemporaryDtors: false
FormatStyle: 'file'
CheckOptions:
  # Type
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumSuffix
    value:           Kind
  # Constant
  - key:             readability-identifier-naming.ConstantCase
    value:           CamelCase
  - key:             readability-identifier-naming.ConstantPrefix
    value:           k
  # Member
  - key:             readability-identifier-naming.PublicMemberCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             readability-identifier-naming.MemberCase
    value:           lower_case
  - key:             readability-identifier-naming.MemberSuffix
    value:           _
  # 
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case

